<%- include('../components/header.ejs') %>
<%- include('../components/navbar.ejs') %>

<main>
    <div class="container">
        <h1 class="center">Kuribohshop</h1>
        <h6 class="center">ແຫຼ່ງຈໍາໜ່າຍໄພ້ເກມແລະເກມກະດານທີ່ດີທີ່ສຸດໃນລ້ານຊ້າງປະເທດ</h6>
        <br>
        <hr>
        <% if (ar !== null && ar !== undefined && ar.length > 0) { %>
        <h3 class="center"> ບົດຄວາມ </h3>
        <div class="row">
        <% for (article of ar) { %>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="<%= article.data['thumbnail_img'] %>" alt="thumbnail">
                    </div>
                    <div class="card-content">
                        <h6 class="card-title black-text"> <%= article.data['title'] %> </h6>
                        <p><%= article.data['thumbnail'] %></p>
                    </div>
                    <div class="card-action">
                        <a class="btn waves-effect waves-light blue" href="/article/<%= article.data['article_id'] %>">ເຂົ້າອ່ານ</a>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
        <% } else { %>
        <h3 class="center"> ບໍ່ມີບົດຄວາມ </h3>
        <% } %>
    </div>
</main>

<%- include('../components/footer.ejs') %>